.slots-about__img {
  margin-top: 1em;
}

.slots-step {
  margin-top: 4em !important;
}

.slots-step__img {
  margin-top: .5em;
}

.header {
  background-color: #fff;
}

.header__logo {
  font-weight: bold;
  padding: 0 11px !important;
  margin-left: 10px;
  font-size: 3.1rem !important;
}

.header__btn-collapse {
  color: #777;
}

.header__menu-item-link {
  color: #777;
  height: 65px;
}

.header__menu-item-link.active {
  border-bottom: 3px solid #5967ce;
}

.header__menu-item-icon {
  margin-right: 10px;
  color: #777;
}

.leader-persons-list__full-list-link {
  margin-top: 40px;
  display: block;
  text-decoration: underline;
}

.leader-person {
  position: relative;
  margin-bottom: 20px;
}

.leader-person__title {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.leader-person__title:hover {
  color: #777;
}

.leader-person__name {
  font-size: 1.2em;
}

.leader-person__likes {
  font-size: 1.2em;
}

.leader-person__list {
  text-decoration: underline;
}

.leader-person__items {
  display: none;
  overflow: hidden;
  margin-top: 20px;
  margin-left: -10px;
  opacity: 0;
}

.leader-person__items.step1 {
  display: block;
  visibility: hidden;
  height: 0;
}

.leader-person__items.step2 {
  height: auto;
}

.leader-person__items.step3 {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.leader-person__items-arrow-left {
  position: absolute;
  left: 0.2em;
  top: 14em;
  width: 3em;
  z-index: 10;
}

.leader-person__items-arrow-right {
  position: absolute;
  right: 1em;
  top: 14em;
  width: 3em;
  z-index: 10;
}

.leader-person__item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
  padding-top: 10px !important;
  outline: none;
  margin: 0 10px;
}

.leader-person__item-user {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.leader-person__item-comment {
  height: 3em;
  line-height: 1.5em;
  overflow: hidden;
}

.leader-person__item-icons {
  margin-top: 16px;
  margin-bottom: 9px !important;
  margin-left: 10px !important;
  margin-right: 0 !important;
}

.leader-person__item-icon-col {
  padding: 0 !important;
}

.leader-person__item-icon {
  color: #444;
}

.leader-person__item-icon-count {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 1em;
  color: #777;
}

.notes {
  margin-top: 100px;
}

.notes__clm {
  border-top: 1px solid #000;
}

.notes__list {
  padding-left: 15px;
}
