 <div class="leader-person__items row">
            
            <div class="col xl3 l3 m6 s6">
              <div class="leader-person__item">
                <div class="leader-person__item-user row">
                  <div class="col s3">
                     <img class="leader-person__item-user-img circle responsive-img" src="img/kot.jpg">
                  </div>
                  <div class="col s9">
                    <div class="leader-person__item-user-name">Иван Петров</div>
                    <div class="leader-person__item-user-date">15.10.2016</div>
                  </div>
                  <div class="col s12">
                    <div class="leader-person__item-comment">Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016</div>
                  </div>
                  
                </div>
                <div class="leader-person__item-img-wrap">
                  <img class="leader-person__item-img responsive-img" src="img/ironman.jpg">
                </div>
                <div class="leader-person__item-icon">
                  <div></div>
                </div>
              </div>
            </div>
            
            <div class="col xl3 l3 m6 s6">
              <div class="leader-person__item">
                <div class="leader-person__item-user row">
                  <div class="col s3">
                     <img class="leader-person__item-user-img circle responsive-img" src="img/kot.jpg">
                  </div>
                  <div class="col s9">
                    <div class="leader-person__item-user-name">Иван Петров</div>
                    <div class="leader-person__item-user-date">15.10.2016</div>
                  </div>
                  <div class="col s12">
                    <div class="leader-person__item-comment">Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016</div>
                  </div>
                  
                </div>
                <div class="leader-person__item-img-wrap">
                  <img class="leader-person__item-img responsive-img" src="img/ironman.jpg">
                </div>
                <div class="leader-person__item-icon">
                  <div></div>
                </div>
              </div>
            </div>

            <div class="col xl3 l3 m6 s6">
              <div class="leader-person__item">
                <div class="leader-person__item-user row">
                  <div class="col s3">
                     <img class="leader-person__item-user-img circle responsive-img" src="img/kot.jpg">
                  </div>
                  <div class="col s9">
                    <div class="leader-person__item-user-name">Иван Петров</div>
                    <div class="leader-person__item-user-date">15.10.2016</div>
                  </div>
                  <div class="col s12">
                    <div class="leader-person__item-comment">Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016</div>
                  </div>
                  
                </div>
                <div class="leader-person__item-img-wrap">
                  <img class="leader-person__item-img responsive-img" src="img/ironman.jpg">
                </div>
                <div class="leader-person__item-icon">
                  <div></div>
                </div>
              </div>
            </div>

            <div class="col xl3 l3 m6 s6">
              <div class="leader-person__item">
                <div class="leader-person__item-user row">
                  <div class="col s3">
                     <img class="leader-person__item-user-img circle responsive-img" src="img/kot.jpg">
                  </div>
                  <div class="col s9">
                    <div class="leader-person__item-user-name">Иван Петров</div>
                    <div class="leader-person__item-user-date">15.10.2016</div>
                  </div>
                  <div class="col s12">
                    <div class="leader-person__item-comment">Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016</div>
                  </div>
                  
                </div>
                <div class="leader-person__item-img-wrap">
                  <img class="leader-person__item-img responsive-img" src="img/ironman.jpg">
                </div>
                <div class="leader-person__item-icon">
                  <div></div>
                </div>
              </div>
            </div>

          </div>