.slots-about{
  &__img{
    margin-top: 1em;
  }
}

.slots-step{
  margin-top: 4em !important;
  &__img{
    margin-top: .5em;
  }
}

.header {


  background-color: #fff;

  &__logo {
    font-weight: bold;
    padding: 0 11px !important;
    margin-left: 10px;
    font-size: 3.1rem !important;
  }

  &__btn-collapse {
    color: #777;
  }

  &__menu {

  }

  &__menu-item {
    
  }

  &__menu-item-link {
    color: #777;
    height: 65px;
    
    &.active {
          border-bottom: 3px solid #5967ce;
    }
  }

  &__menu-item-icon {
    margin-right: 10px;
    color: #777;
  }


}

.leader-persons-list {
  &__full-list-link {
    margin-top: 40px;
    display: block;
    text-decoration: underline;
  }
}

.leader-person {
  position: relative;
  margin-bottom: 20px;

  &__title {
    display: inline-block;
    border-bottom:1px solid #ccc;
    cursor: pointer;

    &:hover {
      color: #777;
    } 
  }

  &__name {
    font-size: 1.2em;
  }

  &__likes {
    font-size: 1.2em;
  }

  &__list{
    text-decoration: underline;
  }

  &__items {
    display: none;
    overflow: hidden;
    margin-top: 20px;
    margin-left: -10px;
    opacity: 0;

    &.step1 {
      display: block;
      visibility: hidden;
      height: 0;
    }

    &.step2 {
      height: auto;
    }

    &.step3 {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s linear;
    }
  }

  &__items-arrow-left {
    position: absolute;
    left: 0.2em;
    top: 14em;
    width: 3em;
    z-index: 10;
  }

  &__items-arrow-right {
    position: absolute;
    right: 1em;
    top: 14em;
    width: 3em;
    z-index: 10;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    border:1px solid #ccc;
    padding-top: 10px !important;
    outline: none;
    margin:0 10px;
  }

  &__item-user {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &__item-user-img {

  }

  &__item-user-name {

  }

  &__item-user-date {

  }

  &__item-comment {
    height: 3em;
    line-height: 1.5em;
    overflow: hidden;
  }
  
  &__item-img-wrap {

  }

  &__item-img {

  }

  &__item-icons {
    margin-top: 16px;
    margin-bottom: 9px !important;
    margin-left: 10px !important;
    margin-right: 0 !important;
  }

  &__item-icon-col {
    padding:0 !important;
  }

  &__item-icon {
    color: #444;
  }

  &__item-icon-count {
    margin-left: 4px; 
    margin-right: 4px;
    font-size: 1em;
    color: #777;
  }

}

.notes{
  margin-top: 100px;

  &__clm {
     border-top: 1px solid #000;
     
  }

  &__list {
    padding-left:15px;
  }

}